*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../models/Lighthouse\ image\ render.png");
    background-size: cover;
}

#portfolio-cont{
    display: flex;
    width: 300vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
}

button:hover{
    cursor: pointer;
}

.main-banner-bg{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: relative;
}

#left-button{
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.908);
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;

}

#left-button img{
    height: 40px;
    filter: invert(1);
    rotate: 180deg;
    position: relative;
    right: 4px;
    top: 1px;
}

#left-button2{
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.908);
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

#left-button2 img{
    height: 40px;
    filter: invert(1);
    rotate: 180deg;
    position: relative;
    right: 4px;
    top: 1px;
}

#right-button{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.908);
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

#right-button img{
    height: 40px;
    filter: invert(1);
    position: relative;
    left: 4px;
    top: 2px;
}

#right-button2{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.908);
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

#right-button2 img{
    height: 40px;
    filter: invert(1);
    position: relative;
    left: 4px;
    top: 2px; 
}

.main-banner-cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-banner-cont h1{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 130px;
    text-shadow: 3px 3px rgb(2, 110, 233);
    width: 100vw;
    text-align: center;
}

.main-banner-cont h4{
    font-family: "Open Sans", sans-serif;
    color: rgb(187, 187, 187);
    font-size: 25px;
}

.main-banner-cont h4 span img{
    width: 15px;
    position: relative;
    right: 8px;
    top: 4px;
    filter: invert(1) brightness(0.7);
}

.modeling-cont{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.model-tabs-cont{
    height: 50px;
    width: 100%;
    margin-top: 25px;
}

.model-tabs-div{
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.model-tabs-div a{
    color: rgb(2, 165, 234);
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.model-tabs-div a:hover{
    color: white;
    cursor: pointer;
}

.model-tabs-div a::after{
    content: "";
    width: auto;
    height: 10px;
    margin-left: 10px;
    border-right: 1px solid rgb(175, 175, 175);
}

.model-tabs-div a:last-child::after{
    border-right: none;
}

.models-display-cont{
    width: 80%;
    height: auto;
    max-height: 85vh;
    margin: 25px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
}

.models-display-cont::-webkit-scrollbar{
    display: none;
}

.model-item{
    width: 350px;
    height: 350px;
    background-color: rgb(128, 128, 128);
    margin: 2px;
    background-size: cover;
    position: relative;
}

.model-item:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.model-item::before{
    content: "";
    display: block;
    padding-top: 100%;
}

.model-item h5{
    position: absolute;
    bottom: 15px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.656);
}

.icons-div{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.icons-div img{
    width: 25px;
    height: 25px;
    filter: invert(0.7);
 } 

.img-item{
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
}

.threeD-item{
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.about-cont{
    width: 900px;
    height: 600px;
    background-color: rgb(29, 29, 29);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white
}

.about-aside{
    height: 100%;
    width: 300px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.about-aside img{
    width: 200px;
    height: 200px;
    margin: 50px auto 15px auto
}

.about-aside h5{
    margin: 10px auto;
    font-size: 18px;
    color: rgb(189, 189, 189)
}

.about-aside .about-name{
    font-size: 35px;
    color: white;
    position: relative;
}

.about-aside .about-name::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid rgb(189, 189, 189);
    width: 150px;
}

.about-info{
    width: 600px;
    height: 100%;
    padding: 100px 50px 50px 50px;
    font-family: "Open Sans", sans-serif;
}

.about-info p{
    font-size: 20px;
    margin: 15px 0
}

.move-right2{
    transform: translateX(-200vw);
}

.move-right{
    transform: translateX(-100vw);
}

.move-left{
    transform: translateX(0vw);
}

.button-visibility{
    visibility: hidden;
}

